<div class="navbar-top-line bg-dark border-bottom border-secondary">
  <div class="container-fluid text-center">
    <span class="text-light">Webscrap</span>
  </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark p-0">
  <form class="d-flex" action="<%= request.path %>" method="get">
    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <div class="container-fluid">
    <% if user_signed_in? %>
      <ul class="navbar-nav ms-auto">
          <a class="nav-link disabled" tabindex="-1" aria-disabled="true">
            <%= current_user.email %>
          </a>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary">
              <%= link_to t('devise.shared.links.edit_profile'), edit_user_registration_path %>
            </button>

            <button type="button" class="btn btn-outline-secondary">
              <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, data: { turbo_method: :delete } %>
            </button>
          </div>
      </ul>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
      </ul>
    <% end %>
  </div>
</nav>
